.button{
    padding: 5px 0px;
    border-radius: 20px;
    background: #37a11c;
    border:none;
    font-size: 1.3rem;
    font-weight: bold;
    font-family:Roboto sans-serif;
    color: #fff !important;
    width: 140px;
    cursor: pointer;
}

@media(max-width:400px){
    .button{
        padding: 5px 0px;
        border-radius: 20px;
        background: #be2635;
        border:none;
        font-size: 1.3rem;
        font-weight: bold;
        font-family:Roboto sans-serif;
        color: #fff !important;
        width: 104px;
        cursor: pointer;
        text-align: center;
    }
}